<div class="container">
  <div id="customer-wrapper" class="container-inv">
    <div class="row">
      <h3 class="chart-title">My Orders</h3>
      <table class="table expense-table th-invoice">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Value</th>
          <th scope="col">Fee</th>
          <th scope="col">Seller</th>
          <th scope="col">Payer</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <th scope="row"><%= order.id %></th>
            <td><%= order.invoice.total_value %></td>
            <td><%= order.fee %></td>
            <td><%= order.invoice.seller.name %></td>
            <td><%= order.invoice.invoice_payer.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
