<div id="wrapper-dashboard">
  <nav class="navbar-default navbar-static-side">
    <div class="sidebar-colapse">
      <ul class="nav" id="side-menu">

        <li class="nav-header">
          <%= link_to root_path do %>
          <%= cl_image_tag ("http://res.cloudinary.com/mbentivoglio/image/upload/v1511372762/Advalori/Logomakr_6yM3k1.png"), width: 180%>
        <% end %>
      </li>
      <li>
       <%= link_to user_path do %>
       <i class="fa fa-briefcase"></i> <%= t(".profile", default: "Overview") %>
       <% end %>
     </li>

     <li>
      <%= link_to edit_user_registration_path do %>
      <i class="fa fa-user-circle"></i> <%= t(".profile", default: "My Profile") %>
      <% end %>
    </li>

    <li>
      <%= link_to user_invoices_path do %>
      <i class="fa fa-money"></i> <%= t(".profile", default: "Invoices") %>
      <% end %>
    </li>

    <li>
      <%= link_to user_invoice_payers_path do %>
      <i class="fa fa-users"></i> <%= t(".profile", default: "Customers") %>
      <% end %>
    </li>

  </ul>
</div>
</nav>
