<div class="container-navbar">
  <div class="row">
    <div class="wrapper">
      <div class="side-bar">
        <ul class="list-group">
          <li class="menu-head">
            <%= link_to root_path do %>
            <%= cl_image_tag ("http://res.cloudinary.com/mbentivoglio/image/upload/v1511372762/Advalori/Logomakr_6yM3k1.png"), width: 120 %>
            <% end %>
            <a href="#" class="push_menu">
              <span class="glyphicon glyphicon-align-justify pull-right"></span>
            </a>
          </li>
          <div class="menu">

            <li>
             <%= link_to user_path do %>
             <%= t(".profile", default: "Dashboard") %>
             <i class="fa fa-dashboard"></i>
             <% end %>
           </li>

           <li>
            <%= link_to user_invoice_payers_path do %>
            <%= t(".profile", default: "Customers") %>
            <i class="fa fa-handshake-o fa-lg fa-fw"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_expenses_path do %>
            <%= t(".profile", default: "Expenses") %>
            <i class="fa fa-list-alt fa-lg fa-fw"></i>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
            <%= t(".profile", default: "My Profile") %>
            <i class="fa fa-user-circle fa-lg fa-fw"></i>
            <% end %>
          </li>

          <li>
            <%= link_to user_invoices_path do %>
            <%= t(".profile", default: "Invoices") %>
            <i class="fa fa-money fa-fw"></i>
            <% end %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>
