<div class="card-detailed">

  <div class="card-title">

    <div class="card-title-left">
      <p><%= @invoice.invoice_payer.name %></p>
      <i class="fa fa-money" aria-hidden="true"></i>
      <p>Invoice's Payer</p>
    </div>

    <div class="card-title-right">
      <p><%= @invoice.seller.name %></p>
      <i class="fa fa-exchange" aria-hidden="true"></i>
      <p>Invoice's Seller</p>
    </div>

  </div>

  <div class="card-body">
    <p>Installments for invoice <%= @invoice.number %> </p>
    <%= render 'detailed_table', installments: @invoice.installments %>
  </div>

</div>

<%= button_to "Comprar", investor_invoice_orders_path(@invoice), class: "btn btn-primary" %>


