<div class="container text-center">

  <h1>Invoice Details</h1>

  <br>

  <h4>Invoice Number: <%= @invoice.number %></h4>
  <h4>Total Value: R$ <%= @invoice.total_value %></h4>
  <p>Invoice's Status: <%= @invoice.status %></p>
  <p>Invoice's Seller: <%= @invoice.seller.name %></p>
  <p>Invoice's Payer: <%= @invoice.invoice_payer.name %></p>

  <br>

  <h4>Installments Details</h4>
  <br>

  <div class="row">

    <% @invoice.installments.each do |installment| %>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="card">

        <p>Reference Number: <%= installment.number  %></p>
        <p>Value: R$ <%= installment.value  %></p>
        <p>Due Date: <%= installment.due_date  %></p>

      </div>
    </div>
    <% end %>
  </div>

  <br>

    <% if @invoice.status == "Available" %>
    <%= button_to "Comprar", investor_invoice_orders_path(@invoice), class: "btn btn-primary" %>
    <% elsif %>
    <%= link_to 'This Invoice is not Available', investor_path, class: "btn btn-danger" %>
    <% end %>




</div>
