<div class="container container-for-cards">
  <div class="row">
    <div class="card-invoice-w-table ">

      <div class="card-description-invoice-w-table">
          <h2><i class="fa fa-exchange"></i>  <%= capitalize_words(@invoice.seller.name) %></h2>
          <h2><i class="fa fa-money"></i>  <%= capitalize_words(@invoice.invoice_payer.name) %></h2>
      </div>

      <div class="card-table-invoice-w-table">
        <div class="card-info-invoice">
          <h3 class="chart-title">Installments for invoice </h3> &nbsp
          <p class="I"><%= @invoice.number %></p> &nbsp
          <h3 class="chart-title"> sugested monthly fee</h3> &nbsp
          <p class="I">5%</p>
        </div>
        <%= render 'detailed_table', installments: @invoice.installments %>
      </div>

      <div class="card-footer-invoice-w-table">
        <div>
          <% if @invoice.status != 'Sold' && @invoice.status != 'Not Available' %>
            <%= link_to("Buy Invoice", investor_invoice_orders_path(@invoice),method: :post, class: "card-button-invoice-w-table text-center btn-buy-invoice", "data-confirm" => "Confirm Order?" ) %>
          <% else %>
            <%= link_to("Not Available", investor_path, class: "card-button-invoice-w-table text-center btn btn-danger" ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

