
<div class="container">
  <table class="table expense-table">
    <h3 class="chart-title">My expenses</h3>
    <thead>
      <tr>
        <th scope="col" class="row-index">#</th>
        <th scope="col">Expense</th>
        <th scope="col">Value</th>
        <th scope="col" colspan=2>Due Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% expenses.each do |expense| %>
      <tr>
        <th scope="row"><%= expense.id %></th>
        <td><%= expense.supplier %></td>
        <td>R$ <span id='money'><%= "#{'%.02f' % expense.value}" %></span></td>
        <td><%= expense.due_date.strftime('%d %b, %Y') %></td>
        <td>
        </td>
        <td>
          <%= link_to(edit_seller_expense_path(expense), class: "") do %>
          <i class="fa fa-pencil-square-o"></i>
          <% end %>
        </td>
        <td>
          <%= link_to(seller_expense_path(expense), class: "", method: :delete, "data-confirm" => "Are you sure?" ) do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan=6>
          <%= render 'shared/add_expense_modal' %>
        </td>
      </tr>
    </tbody>
  </table>
