
<div class="container">
  <table class="table table-striped expense-table">
    <h3 class="chart-title">My expenses</h3>
    <thead>
      <tr>
        <th scope="col" class="row-index">#</th>
        <th scope="col">Expense</th>
        <th scope="col">Value</th>
        <th scope="col" colspan=2>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <th scope="row"><%= expense.id %></th>
          <td><%= expense.supplier %></td>
          <td><%= expense.value %></td>
          <td><%= expense.due_date.strftime('%d %b, %Y') %></td>
          <td>
            <%= link_to(seller_expenses_path, class: "") do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to(seller_expenses_path, class: "") do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
           </td>
        </tr>
      <% end %>
      <tr>
        <td colspan=4>
          <%= render 'shared/add_expense_modal' %>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 class="chart-title">Daily Resume</h3>
  <div class="chart expenses-chart">
    <%= column_chart expenses_chart_path, colors: ["#7698C2"], library: {
      animation: { onProgress: "easeInBack" } } %>
  </div>


    <h3 class="chart-title">Monthly Cash Flow</h3>
    <div class="chart expenses-chart">
      <%= line_chart calc_expenses_chart_path, colors: ["#7698C2"], library: { animation: { duration: 2000, onProgress: "easeInQuad" } } %>
    </div>

</div>
