<%= simple_form_for @invoice, url: seller_invoices_path do |f| %>
  <%= f.input :number %>
  <%= f.input :total_value, as: :string, input_html:{ class:"money", value: "#{'%.02f' % @invoice.total_value}"} %>
  <%= f.input :invoice_payer, collection: current_user.seller.invoice_payers %>
  <h3>Installments</h3>
  <div id="installments">
    <%= f.simple_fields_for :installments do |installment| %>
      <%= render 'installment_fields', f: installment %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add installment', f, :installments %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
