<div class="container">
  <div class="col-lg-12">
    <h3 class="chart-title">Open Invoices</h3>
  </div>
  <table class="table expense-table" id="table-invoices">
    <thead>
      <tr>
        <th>Payer</th>
        <th >Reference Number</th>
        <th>Installments</th>
        <th class="nowrap">Invoice Amount</th>
        <th>Due date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
      <tr class="tr-highlight-overdue" id="c-<%= invoice.id %>">
        <td><%= InvoicePayer.find_by(id: invoice.invoice_payer_id).name  %></td>
        <td><%= invoice.number  %></td>
        <td><%= invoice.installments.count  %></td>
        <td class='nowrap'>R$ <%= invoice.total_value %></td>

        <% if invoice.installments.count > 1 %>

        <td><%= link_to "Details", '#', class: 'install-details' %></td>
        <td></td>
          <td>
            <%= link_to(seller_invoice_path(invoice), class: "", method: :delete) do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>

        <% invoice.installments.each do |installment| %>
        <tr class='tr-install tr-hide' id="c-<%= invoice.id %>">
          <td></td>
          <td></td>
          <td class='installment'><%= installment.number  %></td>
          <td class='installment nowrap'>R$ <%= installment.value  %></td>
          <td class='installment'><%= installment.due_date  %></td>
          <td><%= invoice.status %></td>

          <td></td>
        </tr>
        <% end %>

        <% else %>

        <td class='nowrap'><%= invoice.installments.first.due_date %></td>
        <td><%= invoice.status %></td>
        <td colspan=2>
          <%= link_to(seller_invoice_path(invoice), method: :delete) do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>

      <tr>
        <td colspan=7>
          <%= render 'shared/add_invoice_modal' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
